* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  max-width: 1600px;
  background: #16002b;
  color: #fff;
}
/* shared section */
.btn {
    background: linear-gradient(45deg,#F7E93F,#FB09B4,#9100F8);
    border: none;
  padding: 10px 20px;
  border-radius: 30px;
  color: #FFFFFF;
  cursor: pointer;
}
/* nav section */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}
.wave {
  background: linear-gradient(45deg,#F7E93F,#FB09B4,#9100F8);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-links a {
  margin: 0 15px;
  color: #ccc;
  text-decoration: none;
}
.hidden-2 {
  display: none;
}

/* hero section */
.hero {
  background: url('../assets/hero-bg.png');
  background-size: cover;
  background-position: center;
  padding: 100px 20px;
  text-align: center;
}

.circle {
  position: relative;
  width: 320px;
  height: 320px;
  border: 5px solid #23003f;
  box-shadow: 0 0 12px 6px rgba(28, 121, 4, 0.25);
  margin: auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.circle img {
  width: 100px;
  
}



.badge {
  position: absolute;
  top: 20px;
  left: 230px;
  background: #00FF88;
  box-shadow: 0 0 12px 6px rgba(28, 121, 4, 0.25);
  color: #000;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 16px;
}

.hero-buttons {
  margin-top: 30px;
}
.hero h1 {
  font-size: 60px;
}
.hero p {
  margin-top: 10px;
}
.btn-sub {
  background: transparent;
  border: 1px solid #00FF88;
  color: #00FF88;
  padding: 10px 20px;
  border-radius: 30px;
  margin-left: 10px;

}

/* about section */
.about {
  text-align: center;
  margin-top: 40px;
}
.about h2 {
        font-size: 48px;
        margin-bottom: 20px;
}
.stats {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin-top: 100px;
}
.stats h3 {
  font-size: 48px;
  font-weight: bold;
  color: #00FF88;
  margin-bottom: 10px;
}


/* Why section */
.why {
  
  background-color: #17082E;
  padding: 80px 20px;
  text-align: center;
  margin-top: 60px;
  color: white;
}

.why h2 {
  font-size: 48px;
}


.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 180px);
  gap: 25px 25px;
  justify-content: center;
  padding: 100px;
}


.card {
  background: rgba(53, 17, 101, 0.45);
  padding: 30px;
  border-radius: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card img {
  width: 45px;
  height: 45px; }



.card.premium {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}


.card.mobile {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}


.card.community {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}


.card.exclusive {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}


.card.resource {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
} 


/* episode section */
.episodes h2{
  font-size: 44px;
  text-align: center;
  margin-top: 40px;
}
.episode-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 60px;
}

.episode {
  background: #23003f;
  border-radius: 20px;
  
}
.episode iframe {
  width: 100%;
  height: 180px;
  border-radius: 20px 20px 0 0; 
}

.episode h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.episode p {
  font-size: 13px;
}
.episode span {
  display: flex;
  gap: 5px;
  margin-top: 10px;
  color: #00FF88;
}
.epi {
  padding: 20px;
}
/* host section*/
.host {
  padding: 80px 20px;
}
.host h2 {
  font-size: 48px;
  text-align: center;
  margin-bottom: 40px;
}
.host-box {
  display: flex;
  align-items: center;
  gap: 30px;
  background: #23003f;
  padding: 30px;
  border-radius: 30px;
  max-width: 1200px;
  margin: auto;
}

.host-img {
  width: 140px;
  border-radius: 50%;
}
.host-box h3 {
  font-size: 32px;
  font-weight: bold;
}
.socials {
   display: flex;
  align-items: center;
}
.socials img {
  margin-right: 20px;
  border: 1px solid #9100F8;
  padding: 5px;
  border-radius: 50%;
}
/* footer section*/
.footer {
  background: url('../assets/footer-bg.png');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 60px 20px;
}
.footer h2 {
  font-size: 60px;
}
.footer span {
   background: linear-gradient(45deg,#F7E93F,#FB09B4,#9100F8);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.platforms {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.footer p {
  margin-top: 30px;
}

/* RESPONSIVE */
@media (max-width: 576px) {
  .nav-links { display: none; }
  .stats { grid-template-columns: repeat(2,1fr); }
  .cards,
  .episode-cards { grid-template-columns: 1fr; }
  .host-box { flex-direction: column; }
}